name: run-config

on: 
  workflow_dispatch:
    inputs:
      stage:
        description: 'Target stage'
        required: true
        type: choice
        options:
          - 'pre-prod'
          - 'prod'
      oe:
        description: 'OE abbrevation'
        required: true
        type: string
      appId:
        description: 'AppId of the dynatrace service principal'
        required: true
        type: string

jobs:
  run-powershell:
    runs-on: ubuntu-latest
    steps:

      - name: FH CLI login
        shell: bash
        run: |
          gh auth login -h github.com --with-token <<< "${{ secrets.DEST_REPO_TOKEN }}"
          gh auth status

      - name: Checkout repository dynatrace-utils
        uses: actions/checkout@v4

      - name: Checkout repository dynatrace
        uses: actions/checkout@v4
        with:
          repository: MSTEC/dynatrace
          token: ${{ secrets.DEST_REPO_TOKEN }}
          path: dynatrace-repo
        
      - name: encrypt credential file
        working-directory: ./dynatrace-repo
        run: |
          STAGE="${{ github.event.inputs.stage }}"
          OE="${{ github.event.inputs.oe }}"
          APPID="${{ github.event.inputs.oe }}"
          LABEL="adp-dbx-{$OE}-{$STAGE}" 
          CREDENTIAL="sp-adp-dbx-{$OE}-{$STAGE}-dynatrace.p7m"

          echo "label: $LABEL"
          echo "PWD : $PWD"   
          echo "encrypt credential"
          openssl smime -encrypt -in "${GITHUB_WORKSPACE}/templates/credentials/credential.yml" -aes256 -out "${GITHUB_WORKSPACE}/dynatrace-repo/credentials/file2.p7m" -outform pem "${GITHUB_WORKSPACE}/certs/prod-cac_base64.cer"
          echo "copy subcription configuration"
          
          yq e '.label |= sub("<LABEL>"; "env(LABEL)")' "${GITHUB_WORKSPACE}/templates/azure/azure_subscription.yml" > "${GITHUB_WORKSPACE}/templates/azure/azure_subscription_modified.yml"
          
            #--arg CREDENTIAL '$CREDENTIAL' \
            #--arg APPID '$APPID' \ 
            #| (.. | select(tag == "!!str")) |= sub("<CREDENTIAL>", $CREDENTIAL) | (.. | select(tag == "!!str")) |= sub("<APPID>", $APPID)' "${GITHUB_WORKSPACE}/templates/azure/azure_subscription.yml" > "${GITHUB_WORKSPACE}/templates/azure/azure_subscription_modified.yml"
          
          echo "Workspace: ${GITHUB_WORKSPACE}"

          cp "${GITHUB_WORKSPACE}/templates/azure/azure_subscription_modified.yml" "${GITHUB_WORKSPACE}/dynatrace-repo/azure/azure_subscription.yml"

      - name: copy credential file to dynatrace repo
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.DEST_REPO_TOKEN }}
        working-directory: ./dynatrace-repo
        run: |
          echo "PWD : $PWD"   
          git config user.name "Github Actions Bot"
          git config user.email "<none>"
          git add ./credentials/file.p7m
          git add ./azure/azure_subscription.yml
          git commit -m "Add encrypted credential file"
          git push origin HEAD:main

          echo $dir
          ls
