name: run-dynatrace-configuration

on: 
  workflow_dispatch:
    inputs:
      stage:
        description: 'Target stage'
        required: true
        type: choice
        options:
          - 'pre-prod'
          - 'prod'
      oe:
        description: 'OE abbrevation'
        required: true
        type: string
        default: "crux"

permissions:
  contents: read
  id-token: write
  
jobs:
  run-configuration:
    environment: 
      name: dynatrace-rollout
    runs-on:     
    - ubuntu-latest

    steps:

      - name: GH CLI login
        shell: bash
        run: |
          gh auth login -h github.com --with-token <<< "${{ secrets.DEST_REPO_TOKEN }}"
          gh auth status

      # - name: Azure Login
      #   uses: azure/login@v2
      #   with:
      #     client-id: ${{ vars.ARM_CLIENT_ID }}
      #     tenant-id: ${{ vars.ARM_TENANT_ID }}
      #     subscription-id: ${{ vars.ARM_SUBSCRIPTION_ID }}
  
      - name: Checkout repository dynatrace-utils
        uses: actions/checkout@v4

      - name: Read config file
        run: |
            STAGE="${{ github.event.inputs.stage }}"
            OE="${{ github.event.inputs.oe }}"
            APPID="${{ github.event.inputs.appId }}"
            STAGE="${{ github.event.inputs.stage }}"
            OE="${{ github.event.inputs.oe }}"
            CONFIG_FILE="${GITHUB_WORKSPACE}/config/${OE}/${STAGE}/config.yml"
            
            # get variables from config
            # output vars: oe_name, label, app_id, secret_id
            eval $(yq -o=shell $CONFIG_FILE) 
          
            # Debugging output TODO: remove
            echo "PWD : $PWD"   
            echo "GITHUB_WORKSPACE : ${GITHUB_WORKSPACE}"   
            echo "config file: $CONFIG_FILE"
            
            echo "Workflow parameters:"
            echo "- oe_name: $oe_name"
            echo "- stage: $STAGE"
            echo "Config file values:"
            echo "- dynatrace_repo: $dynatrace_repo"
            echo "- label: $label"
            echo "- app_id: $app_id"
            echo "- secret_id: $secret_id"
            
            # add dynatrace repo to github env
            echo "DYNATRACE_REPO=$dynatrace_repo" >> $GITHUB_ENV

      - name: Checkout repository dynatrace
        uses: actions/checkout@v4
        with:
          repository: ${{ env.DYNATRACE_REPO }}
          token: ${{ secrets.DEST_REPO_TOKEN }}
          path: dynatrace-repo
        
      - name: Generate dynatrace configuration files
        working-directory: ./dynatrace-repo
        run: |       
          # get secret
          #SECRET=$(az keyvault secret show --name "$secret_id" --vault-name "${{ vars.KEY_VAULT_NAME }}" --query "value")
          
          # replace placeholder with secret value
          sed "s/<SECRET>/${SECRET}/g" "${GITHUB_WORKSPACE}/templates/credentials/credential.yml" > "${GITHUB_WORKSPACE}/templates/credentials/credential_updated.yml"
          
          #encrypt credential file and copy output file to dynatrace repo
          openssl smime -encrypt -in "${GITHUB_WORKSPACE}/templates/credentials/credential_updated.yml" -aes256 -out "${GITHUB_WORKSPACE}/dynatrace-repo/credentials/dynatrace-service-principal.p7m" -outform pem "${GITHUB_WORKSPACE}/certs/prod-cac_base64.cer"
          
          #remove updated credential file
          rm "${GITHUB_WORKSPACE}/templates/credentials/credential_updated.yml"
          echo "dynatrace-service-principal.p7m: "
          echo $(cat "${GITHUB_WORKSPACE}/dynatrace-repo/credentials/dynatrace-service-principal.p7m")
          
          # Replace placeholders with variables and copy output file to dynatrace repo"
          sed "s/<LABEL>/${label}/g; s/<APPID>/${APPID}/g" "${GITHUB_WORKSPACE}/templates/azure/azure_subscription.yml" > "${GITHUB_WORKSPACE}/dynatrace-repo/azure/azure_subscription.yml"
          echo "azure_subscription.yml"
          echo $(cat "${GITHUB_WORKSPACE}/dynatrace-repo/azure/azure_subscription.yml")

      - name: commit changes in dynatrace repo
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.DEST_REPO_TOKEN }}
        working-directory: ./dynatrace-repo
        run: |
          echo "PWD : $PWD"   
          git config user.name "Github Actions Bot"
          git config user.email "<none>"
          git add ./credentials/dynatrace-service-principal.p7m
          git add ./azure/azure_subscription.yml
          git commit -m "Added configuration azure_subscription.yml and encrypted credential file dynatrace-service-principal.p7m"
          git push origin HEAD:main

          echo $dir
          ls