name: 

on: workflow_dispatch

jobs:
  run-powershell:
    runs-on: ubuntu-latest
    steps:

      - name: FH CLI login
        shell: bash
        run: |
          gh auth login -h github.com --with-token <<< "${{ secrets.DEST_REPO_TOKEN }}"
          gh auth status

      - name: Checkout repository dynatrace-utils
        uses: actions/checkout@v4

      - name: Checkout repository dynatrace
        uses: actions/checkout@v4
        with:
          repository: MSTEC/dynatrace
          token: ${{ secrets.DEST_REPO_TOKEN }}
          path: dynatrace-repo
        
      - name: encrypt credential file
        working-directory: ./dynatrace-repo
        run: |
          echo "PWD : $PWD"   # e.g /some/work/dir
          openssl smime -encrypt -in "${GITHUB_WORKSPACE}/templates/credentials/credential.yml" -aes256 -out "${GITHUB_WORKSPACE}/dynatrace-repo/file.p7m" -outform pem "${GITHUB_WORKSPACE}/certs/prod-cac_base64.cer"

      - name: copy credential file to dynatrace repo
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.DEST_REPO_TOKEN }}
        working-directory: ./dynatrace-repo
        run: |
          echo "PWD : $PWD"   # e.g /some/work/dir
          git config user.name "Github Actions Bot"
          git config user.email "<none>"
          git add file.p7m
          git commit -m "Add encrypted credential file"
          git push origin HEAD:main

          echo $dir
          ls
